<header class="header">
  <div class="logo" routerLink="/home">RYZE GAMES</div>

  <nav class="menu">

    @if (!isLogged()) {
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    }

    @if (isLogged() && user()) {

      <a routerLink="/user/profile">Mi Perfil</a>

      @if (user()?.role === 'PERFIL') {
        <a routerLink="/store">Store</a>
        <a routerLink="/juegos-favoritos">Favoritos</a>
        <a routerLink="/carro">Carrito</a>
      }

      @if (user()?.role === 'DESARROLLADORA') {
        <a routerLink="/juegos-desarrolladora">Mis Juegos</a>
      }

      <span class="user-info">Hola, {{ user()?.nombre }}</span>
      <button class="btn-logout" (click)="logout()">Logout</button>
    }
  </nav>
</header>
