header {
    width: 100%;
    height: 4rem;
    padding: 0rem 3rem;
    position: relative;
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;

    background-color: var(--color-alfa);
    color: var(--color-delta);
    /* border-bottom: 2px solid var(--color-gamma); */
    box-shadow: 0px 0px 2px 3px var(--color-gamma);
    z-index: 10;
}
.logo, .menu, .user {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo h1 {
    font-size: 2.5rem;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    font-size: 1.5rem;
}
.menu a {
    color: var(--color-delta);

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all ease 0.2s;

    cursor: pointer;
    font-variant: small-caps;
}
.menu a:hover {
    text-decoration-color: var(--color-gamma);
}

.user a#loginButton {
    padding: 0.2rem;
    
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--color-alfa);
    text-decoration: none;
    border-radius: 3px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-delta);
    
    transition: all ease 0.2s;
    cursor: pointer;
}
.user a#loginButton:hover {
    border-color: rgba(0, 0, 0, 0.3);
}
.nick {
    font-size: 1.2rem;
    margin: 0rem 2rem;
    
    color: var(--color-delta);

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all ease 0.2s;

    cursor: pointer;
    font-variant: small-caps;
    white-space: nowrap;
}
.nick:hover {
    text-decoration-color: var(--color-gamma);
}


#logoutButton {
    padding: 0.2rem;

    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--color-delta);

    background-color: var(--color-alfa);
    border-radius: 5px;
    border: none;

    cursor: pointer;
    transition: all ease 0.2s;
}
#logoutButton:hover {
    color: var(--color-alfa);
    background-color: var(--color-delta);
}