header {
    width: 100%;
    height: 5rem;
    padding: 0rem 3rem;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;

    background-color: var(--color-alfa);
    color: var(--color-delta);
    /* border-bottom: 2px solid var(--color-gamma); */
    box-shadow: 0px 0px 2px 3px var(--color-gamma);
    z-index: 10;
}
.logo, .menu, .user {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo h1 {
  font-size: 2.5rem;
  cursor: pointer;
}

.menu {
  gap: 2rem;
  justify-content: center;
  font-size: 1.3rem;
}
.menu a {
    color: var(--color-delta);

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all ease 0.2s;

    cursor: pointer;
    font-variant: small-caps;
}
.menu a:hover {
    text-decoration-color: var(--color-gamma);
}
.user-info {
  margin-right: 1rem;
  font-weight: bold;
}

.btn-logout {
  padding: .3rem .8rem;
  border-radius: .5rem;
  border: 1px solid var(--color-gamma);
  background: transparent;
  color: var(--color-delta);
  cursor: pointer;
  transition: all .2s;
}

.btn-logout:hover {
  background: var(--color-gamma);
  color: white;
}
