section#carrito {
    width: 16rem;
    padding: 0.5rem 0.2rem;

    color: var(--color-delta);
    background-color: var(--color-beta);
    border-radius: 5px;
}

.encabezado {
    height: 2rem;
    font-variant: small-caps;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comprarButton {
    background-color: var(--color-gamma);
    color: var(--color-delta);
    font-weight: bolder;
    font-size: 1rem;
    padding: 0.1rem;
}
.clearButton{
    background-color: brown;
    color: var(--color-delta);
    font-weight: bolder;
    font-size: 1rem;
    padding: 0.1rem;

}
.comprarButton:hover {
    cursor: pointer;
    background-color: darkgreen;
}
.clearButton:hover {
    cursor: pointer;
    background-color: darkred;
}


article {
    height: 5rem;
    width: 100%;
    position: relative;

    display: flex;
    border: 2px solid var(--color-alfa);
    border-radius: 5px;
}
.portada {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.portada img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.precio {
    width: fit-content;
    min-width: 3rem;
    padding: 0rem 0.2rem;

    position: absolute;
    /* top: -1rem; */
    right: 0px;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-delta);
    font-size: 1.2rem;
    
    background-color: var(--color-alfa);
    border: 2px solid var(--color-beta);
    box-shadow: 0rem 0rem 5rem 1rem var(--color-beta);
}



.deleteButton {
    height: 100%;
    padding: 0.3rem;
    
    position: absolute;
    
    font-size: 2rem;
    color: var(--color-delta);
    background-color: brown;

    display: none;
}
article:hover .deleteButton {
    display: block;
}
.deleteButton:hover {
    cursor: pointer;
    background-color: darkred;
}