section#store {
    min-height: var(--semi-screen);

    background-color: var(--color-beta);
    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
    padding: 2rem 4rem;
}

.page_title {
    margin-bottom: 1rem;
}