.billetera-container {
  max-width: 600px;
  margin: 2rem auto;
  color: #e6e6e6;
  font-family: 'Segoe UI', sans-serif;
}


mat-card {
  background: rgba(20, 20, 20, 0.95);
  border-radius: 12px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.7rem;
  border: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}


mat-card h2 {
  border-bottom: 2px solid #00eaff;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

mat-card p {
  font-size: 1rem;
  padding: 0.3rem 0;
}

.full {
  width: 100%;
}

mat-form-field {
  font-size: 1rem;
  color: #e6e6e6;
}

input[matInput] {
  color: #ffffff;
}


button[mat-raised-button] {
  margin-top: 1rem;
  width: 100%;
  background: #00eaff ;
  color: #474747;
  font-weight: 700;
  border-radius: 8px;
  height: 45px;
  transition: 0.25s;
}

button[mat-raised-button]:hover:not(:disabled) {
  background: #00c4dd ;
  transform: scale(1.02);
}

/* Estilo para disabled */
button[mat-raised-button][disabled] {
  background: #8b8b8b ;
  color: #ffffff ;
  opacity: 1 ;   
  transform: none ;
  cursor: not-allowed ;
}



.ng-template {
  color: #999;
}
.saldo-actual-box {
  background: linear-gradient(90deg, #00eaff44, #00eaff11);
  border: 1px solid #00eaff;
  border-radius: 10px;
  padding: 1rem 1.4rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e6e6e6;
  font-size: 1.1rem;
}


.saldo-actual-box strong {
  font-size: 1.4rem;
  font-weight: 800;
  color: #00eaff;
  text-shadow: 0px 0px 8px #00eaff;
}
