section#biblioteca {
    min-height: var(--semi-screen);

    background-color: var(--color-beta);
    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
    padding: 2rem 4rem;
}

.page_title {
    height: 4rem;

    display: flex;
    align-items: center;
    /* font-variant: small-caps; */

    /* background-color: var(--color-alfa); */
}
.list {
    margin-bottom: 2rem;
}