<section id="game">
    @if (juego(); as juego) {
        <div class="imagen">
            <img [src]="juego.foto" alt="">
        </div>
        <div class="texto">
            <div class="desc">
                <div class="nombre_container">
                    <h2>{{juego.nombre}}</h2>
                    <div class="categoria" [style.backgroundColor]="getCategoryColor(juego.categoria)">
                        <i [class]="getCategoryIcon(juego.categoria)"></i>
                    </div>
                </div>
                <h3>{{juego.desarrolladora.nombre}} - {{juego.desarrolladora.pais}}</h3>
            </div>
            <div class="buttons">
                <div class="precio_container">
                    <p class="precio">{{ juego.precio | currency:'USD':'symbol':'1.2-2' }}</p>
                </div>
                @if (user(); as user) {
                    @if (user.role !== roleEnum.PERFIL) {
                        <!-- Desarrolladora no puede comprar -->
                         @if (isDeveloper()) {
                            <button (click)="goToEditGame(juego.id)">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                         }
                    } @else {
                        <!-- Perfil puede comprar -->
                        @if (!isOwner()) {
                            @if (isCarrito()) {
                            <button (click)="removeCarrito(juego.id)">Quitar del Carrito <i class="fa-solid fa-ban"></i></button>
                            } @else {
                                <button (click)="addCarrito(juego.id)">Comprar <i class="fa-solid fa-basket-shopping"></i></button>
                            }
                        }
                        @if (isFav()) {
                            <button (click)="removeFav(juego.id)">Quitar de Favoritos <i class="fa-solid fa-heart-crack"></i></button>
                        } @else {
                            <button (click)="addFav(juego.id)">Favoritos <i class="fa-solid fa-heart"></i></button>
                        }
                    }
                }
                
                
            </div>
        </div>




    } @else {
        <p>Buscano...</p>
    }
</section>