<div class="carro-container">


  <div class="carro-left">

    <div class="lista-items">
      @if (carrito(); as carritoActual) {
        @if (carritoActual.juegos && carritoActual.juegos.length > 0) {

          @for (juego of carritoActual.juegos; track juego.id) {
        
            <mat-card class="item-card">
              <div class="row">

                <img class="foto" [src]="juego.foto" [alt]="juego.nombre">

                <div class="detalles">
                  <h3>{{ juego.nombre }}</h3>
                  <p class="precio">$ {{ juego.precio }}</p>
                </div>

                <button mat-icon-button color="warn" (click)="removeJuego(juego.id)">
                  <mat-icon>delete</mat-icon>
                </button>

              </div>
            </mat-card>

          }

        } @else {
          <p>El carrito está vacío.</p>
        }

      } @else {
        <p>Cargando carrito...</p>
      }
    </div>

  </div>


  <div class="carro-right">
    <mat-card class="total-card">
      <h3>Total: $ {{ total() }}</h3>
      <button mat-raised-button color="primary" class="btn-compra">
        Finalizar Compra
      </button>
    </mat-card>
  </div>

</div>
