section#login {
    height: var(--semi-screen);
    padding: 2rem 4rem;

    background-color: var(--color-beta);
    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
}
.container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
input {
    padding: 0.2rem 0.4rem;

    font-size: 1.4rem;
    color: var(--color-alfa);

    border-radius: 5px;
    outline: 2px transparent red;
}
button {
    padding: 0.2rem;
    
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--color-alfa);
    
    border: 2px solid rgba(107, 107, 107, 0.3);
    background-color: var(--color-delta);
    border-radius: 5px;
}

button#loginButton {
    /* background-color: var(--color-gamma); */
}
button#registerButton {
    color: var(--color-delta);
    background-color: var(--color-alfa);
}
button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}
button:disabled {
    cursor: not-allowed;
    filter: brightness(0.8);
}

.input_invalido {
  outline: 2px solid red !important;
}