section#login {
    height: calc(100vh - 11rem);
    padding: 2rem 4rem;

    background-color: var(--color-beta);
    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
}
.container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
input {
    padding: 0.2rem 0.4rem;

    font-size: 1.4rem;
    color: var(--color-alfa);

    border-radius: 5px;
}
button {
    padding: 0.2rem;
    
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--color-alfa);
    
    background-color: var(--color-delta);
    border-radius: 5px;
}