section#create_discount {
    min-height: var(--semi-screen);
    width: 100%;

    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
    padding: 4rem 10rem;
}

#create_discount form {
    display: flex;
    flex-direction: column;
}

#create_discount input,
#create_discount select {
    width: fit-content;
    min-width: 20rem;
    font-size: 1.2rem;
}

#create_discount .input_container {
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

#create_discount input,
#create_discount select {
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
    color: var(--color-alfa);

    border-radius: 4px;
    border: none;
    outline: 2px solid transparent;
}

#create_discount span.error {
    padding: 0.2rem;
    height: fit-content;
    color: red;

    border: 2px solid red;
    border-radius: 3px;
    background-color: var(--color-alfa);
}

#create_discount .input_invalido {
    outline: 2px solid red !important;
}

#create_discount button {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    margin: 1rem 0rem;

    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--color-alfa);

    border: 2px solid rgba(107, 107, 107, 0.3);
    background-color: var(--color-delta);
    border-radius: 5px;
}

#create_discount button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#create_discount button:disabled {
    cursor: not-allowed;
    filter: brightness(0.8);
}

/* Para el texto del juego */
#create_discount .info {
    margin-top: 1rem;
    font-size: 1.1rem;
}