section#create_game {
    min-height: var(--semi-screen);

    background-color: var(--color-beta);
    background: linear-gradient(175deg, var(--color-alfa), var(--color-beta));
    padding: 2rem 4rem;
}

form {
    display: flex;
    flex-direction: column;
}
form input, select {
    width: fit-content;
    min-width: 20rem;

    margin-bottom: 1rem;
    font-size: 1.2rem;
}