
.page {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;

  background: rgba(20, 20, 20, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(0, 200, 215, 0.25);
}

.page-header h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  border-bottom: 3px solid #00c8d7;
  display: inline-block;
  padding-bottom: 6px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.item {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  background: rgba(25, 25, 25, 0.082);
  border-left: 4px solid #00c8d7;
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.item img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.item strong {
  font-size: 1.2rem;
  color: #e8f8ff;
  min-width: 120px;
}


.item button {
  margin-left: auto;
  padding: 8px 14px;
  background-color: #949292;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.item button:hover {
  background-color: #adadad;
  transform: scale(1.05);
}
