

.detalle-juego img {
  border-radius: 10px;
  width: 260px;
  height: auto;
}

h2 {
  margin-bottom: 12px;
}


.detalle-juego {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  background: #1e2a38;
  border-radius: 18px;
  display: flex;
  gap: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  position: relative;
}

.carrito {
  margin-top: auto;
  align-self: flex-end;
  background: #00d4ff !important;
  color: black !important;
  border-radius: 8px;
  padding: 8px 15px;
}
.favorito {
  margin-top: auto;
  align-self: flex-end;

  background: #63b9ff !important;
  color: black !important;
  border-radius: 8px;
  padding: 8px 15px;
}
