section.juegos_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    
    gap: 1rem;
}
article {
    height: 20rem;
    
    display: flex;
    flex-direction: column;

    color: var(--color-delta);
    background-color: var(--color-alfa);
    border: 2px solid var(--color-alfa);
    transition: 0.2s ease;

    box-shadow: 2px 2px 5px var(--color-alfa);
}
article:hover {
    border-color: var(--color-gamma);
    transform:scale(1.1)
    /* box-shadow: 2px 2px 5px var(--color-gamma); */
}
.portada {
    height: 10rem;
    width: 100%;
}
.portada img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.precio_container {
    width: fit-content;
    min-width: 3rem;
    padding: 0rem 0.2rem;

    position: absolute;
    top: -1rem;
    right: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-delta);
    font-size: 1rem;
    
    background-color: var(--color-alfa);
    border: 2px solid var(--color-beta);
}
.texto {
    position: relative;
    height: 100%;
    width: 100%;

    background: linear-gradient(135deg, var(--color-alfa), var(--color-beta), var(--color-alfa));
}
.categoria {
    width: fit-content;
    min-width: 1.2rem;
    padding: 0.2rem;
    
    font-size: 1rem;
    color: var(--color-alfa);
    border-radius: 5px;
}