:root {
  --color-alfa: #222831;
  --color-beta: #393E46;
  --color-gamma: #00ADB5;
  --color-delta: #EEEEEE;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: var(--color-beta);
    background-image: url('./assets/images/game_pattern.png');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
  color-scheme: dark;
  --mat-radio-label-text-color: white;
  --mat-radio-label-text-color-selected: white;
  --mat-radio-disabled-label-text-color: rgba(255,255,255,0.4);
}
.mat-mdc-radio-button .mdc-label {
  color: #ffffff !important;
}
.mat-mdc-radio-button {
  --mdc-theme-text-primary-on-background: #ffffff !important;
}
