:root {
  --color-alfa: #222831;
  --color-beta: #393E46;
  --color-gamma: #00ADB5;
  --color-delta: #EEEEEE;

  --full-screen: calc(100vh - 4rem);
  --semi-screen: calc(100vh - 10rem);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: var(--color-beta);
    background-image: url('./assets/images/game_pattern.png');
}